DB_URL="postgres://user:secret@localhost:5432/pgvectordb?sslmode=disable"

OLLAMA_HOST=http://localhost:11434

TIKA_HOST=http://localhost:9998

RAG_PATH=/home/everton/projects/golang/gin-langchain-ollama/resources
